# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Developer environment / secrets
.env
config.json

# Media generator outputs & frame captures
*.mp4
*.png
output_*
corrected_ui_frame_*
real_guesses_frame_*
unblurred_frame_*
wrong_guess_frame_*
correct_guesses_frame_*

